$btn-padding: 7px 10px;

.header {
  display: grid;
  grid-template-columns: auto 15% 15%;
  margin: 1em;
  color: white;
  background-color: orange;

  .header-btn {
    padding: $btn-padding;
    margin: 5px;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
  }

  .login {

  }

  .signup {

  }
}
